html,body {
  font-family: 'Raleway', sans-serif;
  padding: 3em 2em;
  font-size: 18px;
  background: #222;
  color: #aaa
}
#navbarcontact {
  justify-content: space-between;
  color:antiquewhite;
}
#navbarcontact a {
  align-items: center;
  text-align:center;
  display: inline-block;
  position: relative;
  color: #d82b2b;
}
#navbarcontact  a:hover {
color: #7ccee9;
text-decoration: none;
}
#navbarcontact a:after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color:#ffffff;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}

#navbarcontact a:hover:after {
transform: scaleX(1);
transform-origin: bottom left;
}
/* Variables */
:root {
  --bg-color: #1f1f1f;
  --fg-color: #f8f8f8;
  --accent-color: #1db954;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Widget styles */
.widget {
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--fg-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}

.widget .header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.widget .header h3 {
  font-size: 24px;
  font-weight: bold;
}

.widget .presences {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.widget .presence {
  display: flex;
  align-items: center;
  background-color: var(--fg-color);
  color: var(--bg-color);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
.widget .presence a {
  color: var(--bg-color);
  text-decoration: none;
}
.widget .presence .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--bg-color);
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}

.widget .presence .icon i {
  font-size: 20px;
}

.widget .presence .details {
  flex: 1;
}

.widget .presence h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.widget .presence .status {
  font-size: 14px;
}
